*{
    margin: 0;
   padding: 0;
    box-sizing: border-box;
}

body{
    Position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

.container{
    Position: inherit;
    width: 90%;
    min-height: 87vh;
    height: auto;
    border: 5px solid #FFFBFE;
    justify-content: center;
    align-items: center;   
    z-index: 1;
}

.logout{
    Position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: #001F3F;
    background: none;
    text-decoration: underline;
    cursor:Pointer;
    outline: none;
    border: none;
}

.fecha{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    padding: 100px;
    font-size: 40px;
    color: #376D6C;
    background: none;
    outline: none;
    border: none;
}

.greeting{
    font-family: 'Montserrat', sans-serif;
    Position: absolute;
    top: 155px;
    left: 0;
    padding: 30px 20px;
    font-size: 50px;
    color: #1C3736;
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
}
.logo{
    Position: relative;
    padding: 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    z-index: 2;
}


.horas-container {
    display: flex;
    align-items: center;
    margin-top: 180px; 
    margin-left: 30px;
}

.horas {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #1C3736;
    margin-left: 0px;
    background: none;
    outline: none;
    border: none;
}

/* Estilos adicionalesPara la imagen del reloj si es necesario */
.reloj {
    width: 40px;
    background: none;
    outline: none;
    border: none;
}

/* Alinea la clase workedHours a la derecha */
.workedHours {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #376D6C;
    Position: absolute;
    top: 347px;
    left: 430px; 
    background: none;
    outline: none;
    border: none;
    font-weight: bold;
}

.obs-container {
    display: flex;
    align-items: center;
    margin-top: 10px; 
    margin-left: 30px;
}

.obsEncountered {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #E76D62;
    Position: absolute;
    top: 420px;
    left: 320px; 
    background: none;
    outline: none;
    border: none;
    font-weight: bold;
}

.obsAvoided {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #376D6C;
    Position: absolute;
    top: 390px;
    left: 320px; 
    background: none;
    outline: none;
    border: none;
    font-weight: bold;
}

.exceeded-limit {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #E76D62;
    Position: absolute;
    top: 465px;
    left: 365px; 
    background: none;
    outline: none;
    border: none;
}

.within-limit {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #376D6C;
    Position: absolute;
    top: 465px;
    left: 365px; 
    background: none;
    outline: none;
    border: none;
}

.weight-container {
    display: flex;
    align-items: center;
    margin-top: 10px; 
    margin-left: 30px;
}

.p1, .p2, .p3, .p4{
    width:3.5vw;
}

.graficaDia{
    font-family: 'Montserrat', sans-serif;
    left: 0;
    padding: 30px 20px;
    font-size: 50px;
    color: #001F3F;
    background: none;
    outline: none;
    border: none;
}

.graficaSemana{
    font-family: 'Montserrat', sans-serif;
    left: 0;
    padding: 30px 20px;
    font-size: 50px;
    color: #001F3F;
    background: none;
    outline: none;
    border: none;
}

.basicStats {
    margin-top: 20px;
}


.dailyGraph,
.weeklyGraph {
    text-align: center;
    margin: 20px;
}

.graph-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
}

.graph-wrapper {
    width: 100vw;
    max-width: 800px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
}

.image-with-text {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1vw;
}

canvas {
    border: 1px solid #ccc;
}

span {
    font-family: 'Montserrat', sans-serif;
    color: #376D6C;
    font-weight: bold;
}

.caratula{
    border-radius: 15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 30vw;
    left: 0;
    border: 5px solid #FFFBFE;
    margin: 0;
    box-sizing: border-box;
}

.textoFuerte , .textoAlivia{
    font-family: 'Montserrat', sans-serif;
    left: 0;
    padding: 20px 20px;
    font-size: 3vw;
    color: #001F3F;
    background: none;
    outline: none;
    border: none;
}

.fuerte, .alivia{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.flexWelcome {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 900px) {
    .p1, .p2, .p3, .p4{
        width:10vw;
    }
    .textoFuerte , .textoAlivia{
        font-size: 5vw;
    }
    .flex-container {
        flex-direction: column;
    }
    .fuerte, .alivia {
        flex-direction: column;
    }
    .image-container {
        flex-direction: row; 
        gap: 2vw;
    }
    .image-with-text {
        flex-direction: column;
    }
    .graph-wrapper {
        width: 80vw;
    }
    .caratula{
        width: 50vw;
    }
}

